## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [1]:
import random
import numpy as np

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [2]:
sample_list_1 = random.sample(range(100), 80)
print(sample_list_1)

[46, 93, 23, 65, 94, 78, 92, 6, 44, 3, 80, 37, 95, 14, 68, 79, 71, 0, 34, 74, 61, 88, 53, 56, 2, 83, 96, 60, 66, 29, 24, 8, 62, 17, 25, 35, 63, 40, 52, 15, 18, 90, 30, 27, 42, 47, 32, 33, 57, 41, 97, 67, 11, 86, 75, 70, 82, 58, 7, 13, 39, 36, 64, 22, 19, 38, 99, 73, 76, 16, 77, 28, 50, 69, 51, 45, 31, 5, 9, 20]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [3]:
# Your code here
set1 = set(sample_list_1)

len(set(set1))

len(sample_list_1)
len(set1)

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [4]:
sample_list_2 = [random.randint(0,100) for i in range(80)]

print(sample_list_2)

[22, 69, 87, 30, 89, 29, 1, 64, 70, 41, 78, 21, 1, 72, 38, 18, 61, 50, 19, 20, 0, 12, 70, 71, 32, 43, 41, 13, 54, 54, 88, 7, 12, 38, 56, 34, 66, 99, 32, 6, 5, 21, 77, 5, 38, 80, 39, 5, 13, 53, 36, 52, 69, 31, 5, 11, 12, 28, 12, 89, 92, 6, 8, 35, 42, 96, 60, 63, 67, 3, 90, 9, 81, 19, 30, 4, 64, 19, 56, 42]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [5]:
set2 = set(sample_list_2)

len(set2) == len(sample_list_2)
#False because they're not the same lenght.
#len(sample_list_2) = 80 because we asked for 80 random values
#len(set2) equals 54 in this case because we are allowed repeated values

#len(set2)

False

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [6]:
# Your code here
set3 = set1 - set2
len(set3)

34

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [7]:
set4 = set2.difference(set1)
set4

{1, 4, 12, 21, 43, 54, 72, 81, 87, 89}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [8]:
set5 = set1.intersection(set2)
print(set5)

{0, 3, 5, 6, 7, 8, 9, 11, 13, 18, 19, 20, 22, 28, 29, 30, 31, 32, 34, 35, 36, 38, 39, 41, 42, 50, 52, 53, 56, 60, 61, 63, 64, 66, 67, 69, 70, 71, 77, 78, 80, 88, 90, 92, 96, 99}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [9]:
#Non repeated values vs repeated values in the same range
print(len(set1) > len(set2))

#The content of set 1 equals union of set 3 and set 5
print(len(set1) == len(set3) + len(set5))

#Likewise, set 2 equals the union of set 1 and set 5
print(len(set2) == len(set4) + len(set5))

True
True
True

#### Create an empty set called `set6`.

In [10]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [11]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)
#len(set3)+len(set5)

{0, 2, 3, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 50, 51, 52, 53, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 86, 88, 90, 92, 93, 94, 95, 96, 97, 99}

#### Check if `set1` and `set6` are equal.

In [12]:
# Your code here
set1 == set6

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [13]:
set2.issubset(set1)
set3.issubset(set1)

True

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [14]:
mix1 = set3.union(set4,set5)
#mix1 = set3.union(set5) - if we don't do it at once, mix1 only equals set3+5

mix2 = set1.union(set2)

mix1 == mix2

True

#### Using the `pop` method, remove the first element from `set1`.

In [15]:
# Your code here
print(set1)
set1.pop()
print(set1)

{0, 2, 3, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 50, 51, 52, 53, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 86, 88, 90, 92, 93, 94, 95, 96, 97, 99}
{2, 3, 5, 6, 7, 8, 9, 11, 13, 14, 15, 16, 17, 18, 19, 20, 22, 23, 24, 25, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 44, 45, 46, 47, 50, 51, 52, 53, 56, 57, 58, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 73, 74, 75, 76, 77, 78, 79, 80, 82, 83, 86, 88, 90, 92, 93, 94, 95, 96, 97, 99}

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [20]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

for i in list(set1):
    if i in list_to_remove:
        set1.remove(i)
        
print(len(set1))

66